/**************** Extra Small Screens ****************/

@media (max-width:767px) {
    .welcome {
        display: none;
    }
    header {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .header-top .logo {
        margin: 20px 0 0 0;
    }
    .header-top .logo img {
        width: 150px;
    }
    .header-top .sign-up .sign-in-up {
        display: none;
    }
    .header-top .sign-up .config-link {
        display: none;
    }
    .header-top .sign-up .search-button {
        display: block;
        margin-left: 20px;
    }
    .header-top .sign-up .hidden-menu {
        display: block;
        z-index: 99995;
        margin-left: 20px;
    }
    .header-bottom {
        display: none;
    }
    .main-slider {
        margin-bottom: 40px;
    }
    .main-slider .big-carousel {
        height: 180px;
    }
    .main-slider .big-carousel img {
        width: 100%;
        height: 100%;
    }
    .more-views {
        margin-bottom: 80px;
    }
    .more-views h3 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .more-views .item .text-box .item-name {
        margin-bottom: 5px;
    }
    .more-views .item .text-box .add-to-cart,
    .more-views .item .text-box .heart {
        font-size: 11px;
        outline: 0;
        line-height: 30px;
    }
    .more-views .item .text-box .add-to-cart {
        width: 100px;
    }
    .more-views .owl-carousel .owl-dots {
        display: block;
    }
    .gallary {
        margin-bottom: 30px;
    }
    .gallary a {
        margin-bottom: 15px;
    }
    .delivery {
        margin-bottom: 50px;
    }
    .delivery .delivery-link {
        height: 120px;
    }
    .delivery img {
        height: 100%;
    }
    .clients h3 {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .clients .owl-carousel .owl-dots {
        display: block;
    }
    .features {
        border: none;
        margin-bottom: 40px;
        text-align: center;
    }
    .features .feature {
        margin-bottom: 0px;
    }
    .features .owl-carousel .owl-dots {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }
    .features .owl-carousel button.owl-dot {
        width: 15px;
        height: 5px;
        margin: 2px;
        outline: 0;
    }
    .features .owl-carousel button.owl-dot span {
        width: 100%;
        height: 100%;
    }
    .features .owl-carousel .owl-dots .owl-dot:hover span {
        background-color: #054f80;
    }
    .features .owl-carousel .owl-dots .owl-dot.active span {
        background-color: #054f80;
    }
    footer .footer-top .colno1 img {
        width: 40%;
        margin: 0px auto 20px auto;
    }
    footer .footer-top .colno6 input {
        width: 100%;
    }
    footer .footer-top .colno6 .email i {
        left: 25px;
        top: 27%;
    }
    footer .footer-bottom .payment-tools img {
        width: 60%;
        margin: 0px auto;
    }
    /* hidden menu */
    .small-hidden-list {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99994;
        display: none;
    }
    .display-overflow {
        overflow: hidden;
    }
    .small-hidden-list .white-list {
        background: #fff;
        position: fixed;
        right: 0;
        top: 0;
        font-family: "regular";
        font-size: 10px;
        width: 280px;
        height: 100%;
        z-index: 99999;
        overflow: auto;
    }
    .small-hidden-list .white-list .welcome-small {
        color: #054f80;
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .small-hidden-list .white-list .welcome-small button {
        background-color: transparent;
        color: #054f80;
        border: none;
        outline: none;
        font-family: "bold";
        font-size: 14px;
    }
    .welcome-small .bootstrap-select .dropdown-toggle .filter-option {
        text-align: right;
    }
    .small-hidden-list .white-list .nav-small {
        padding: 15px 30px 10px;
        margin-top: 30px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list li span {
        color: #054f80;
        font-family: "bold";
        font-size: 14px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list li span a {
        color: #054f80;
        text-decoration: none;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list li {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list button {
        background-color: transparent;
        border: none;
        outline: 0;
        width: 10px;
        height: 10px;
        margin-right: 15px;
        margin-top: 5px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list i {
        transition: all 0.4s ease-in-out;
        margin-right: 115px;
    }
    .rotate {
        transform: rotate(180deg) translateY(-3px);
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one {
        display: none;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one li {
        margin-right: 30px;
        color: #054f80;
        font-family: "medium";
        font-size: 14px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one li a {
        color: #054f80;
        text-decoration: none;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one .nested-list-two .nav-small-list-two {
        display: none;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one .nested-list-one .nav-small-list-two li {
        margin-right: 30px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one .nested-list-two .nested-list-two-icon {
        margin-right: 100px;
    }
    .contact-small {
        font-family: "regular";
        font-size: 14px;
        color: #054f80;
        margin-right: 30px;
    }
    .contact-small a {
        font-family: "bold";
        color: #054f80;
        text-decoration: none;
    }
    /* hidden Search */
    .small-search {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
        display: none;
    }
    .small-search .close {
        position: fixed;
        top: 36px;
        left: 125px;
        transform: translateX(-50%);
        padding: 5px 10px;
        border-radius: 50%;
        opacity: 1;
        background-color: #fff;
    }
    .small-search .close i {
        color: #054f80;
        font-size: 24px;
    }
    .small-search .small-search-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .small-search .bootstrap-select .dropdown-toggle .filter-option {
        text-align: center;
        color: #666;
        font-family: "bold";
    }
    .small-search .small-search-content .search-bar-small {
        margin-top: 30px;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .small-search .small-search-content .search-bar-small input {
        width: 250px;
        height: 40px;
        border-radius: 35px;
        outline: none;
        border: none;
        text-indent: 20px;
    }
    .small-search .small-search-content .search-bar-small input::placeholder {
        text-indent: 20px;
        font-family: "medium";
    }
    .small-search .small-search-content .search-bar-small a {
        text-decoration: none;
        color: #054f80;
        position: absolute;
        top: 13px;
        left: 15px;
    }
    /* Hidden Footer Lists */
    footer .footer-top .colno1,
    footer .footer-top .colno2,
    footer .footer-top .colno3,
    footer .footer-top .colno4,
    footer .footer-top .colno5,
    footer .footer-top .colno6 {
        margin: 0 25px;
        text-align: center;
    }
    footer .footer-top .colno2,
    footer .footer-top .colno3,
    footer .footer-top .colno4,
    footer .footer-top .colno5 {
        text-align: right;
    }
    footer .footer-top .colno2 h4,
    footer .footer-top .colno3 h4,
    footer .footer-top .colno4 h4,
    footer .footer-top .colno5 h4 {
        text-align: right;
        margin-bottom: 0px;
        transition: all 0.4s ease-in-out;
    }
    footer .footer-top .colno2 h4::after,
    footer .footer-top .colno3 h4::after,
    footer .footer-top .colno4 h4::after,
    footer .footer-top .colno5 h4::after {
        content: '\f0dd';
        font-family: "Font Awesome 5 Free";
        font-style: normal;
        font-weight: 600;
        text-decoration: inherit;
        position: absolute;
        left: 40px;
    }
    footer .footer-top .colno2 h4:hover,
    footer .footer-top .colno3 h4:hover,
    footer .footer-top .colno4 h4:hover,
    footer .footer-top .colno5 h4:hover {
        color: #cc9430;
    }
    footer .footer-top .footer-data-list {
        display: none;
    }
    footer .footer-top .colno6 h4 {
        margin-top: 50px;
    }
}

@media (max-width:550px) {
    .small-hidden-list .white-list .welcome-small .hello-small {
        flex-direction: column;
    }
    .small-hidden-list .white-list .welcome-small .hello-small img {
        order: 1;
    }
    .small-hidden-list .white-list .welcome-small .hello-small p {
        order: 2;
    }
}


/*********************  Small Screens *********************/

@media (min-width:768px) and (max-width:991px) {
    .welcome {
        display: none;
    }
    header {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .header-top .logo {
        margin: 20px 0 0 0;
    }
    .header-top .logo img {
        width: 150px;
    }
    .header-top .sign-up .sign-in-up {
        display: none;
    }
    .header-top .sign-up .config-link {
        display: none;
    }
    .header-top .sign-up .search-button {
        display: block;
        margin-left: 20px;
    }
    .header-top .sign-up .hidden-menu {
        display: block;
        z-index: 99995;
        margin-left: 20px;
    }
    .header-bottom {
        display: none;
    }
    .main-slider {
        margin-bottom: 40px;
    }
    .main-slider .big-carousel {
        height: 300px;
    }
    .main-slider .big-carousel img {
        width: 100%;
        height: 100%;
    }
    .more-views {
        margin-bottom: 80px;
    }
    .more-views h3 {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .more-views .item .text-box .item-name {
        margin-bottom: 5px;
    }
    .more-views .item .text-box .add-to-cart,
    .more-views .item .text-box .heart {
        font-size: 11px;
        outline: 0;
        line-height: 30px;
    }
    .more-views .item .text-box .add-to-cart {
        width: 100px;
    }
    .more-views .owl-carousel .owl-dots {
        display: block;
    }
    .gallary {
        margin-bottom: 30px;
    }
    .gallary a {
        margin-bottom: 15px;
    }
    .delivery {
        margin-bottom: 50px;
    }
    .delivery .delivery-link {
        height: 200px;
    }
    .delivery img {
        height: 100%;
    }
    .clients h3 {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .clients .owl-carousel .owl-dots {
        display: block;
    }
    .features {
        border: none;
        margin-bottom: 40px;
        text-align: center;
    }
    .features .feature {
        margin-bottom: 0px;
    }
    .features .owl-carousel .owl-dots {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }
    .features .owl-carousel button.owl-dot {
        width: 15px;
        height: 5px;
        margin: 2px;
        outline: 0;
    }
    .features .owl-carousel button.owl-dot span {
        width: 100%;
        height: 100%;
    }
    .features .owl-carousel .owl-dots .owl-dot:hover span {
        background-color: #054f80;
    }
    .features .owl-carousel .owl-dots .owl-dot.active span {
        background-color: #054f80;
    }
    footer .footer-top .colno1 img {
        width: 40%;
        margin: 0px auto 20px auto;
    }
    footer .footer-top .colno6 input {
        width: 100%;
    }
    footer .footer-top .colno6 .email i {
        left: 25px;
        top: 27%;
    }
    footer .footer-bottom .payment-tools img {
        width: 60%;
        margin: 0px auto;
    }
    /* hidden menu */
    .small-hidden-list {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99994;
        display: none;
    }
    .display-overflow {
        overflow: hidden;
    }
    .small-hidden-list .white-list {
        background: #fff;
        position: fixed;
        right: 0;
        top: 0;
        font-family: "regular";
        font-size: 10px;
        width: 280px;
        height: 100%;
        z-index: 99999;
        overflow: auto;
    }
    .small-hidden-list .white-list .welcome-small {
        color: #054f80;
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .small-hidden-list .white-list .welcome-small button {
        background-color: transparent;
        color: #054f80;
        border: none;
        outline: none;
        font-family: "bold";
        font-size: 14px;
    }
    .welcome-small .bootstrap-select .dropdown-toggle .filter-option {
        text-align: right;
    }
    .small-hidden-list .white-list .nav-small {
        padding: 15px 30px 10px;
        margin-top: 30px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list li span {
        color: #054f80;
        font-family: "bold";
        font-size: 14px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list li span a {
        color: #054f80;
        text-decoration: none;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list li {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list button {
        background-color: transparent;
        border: none;
        outline: 0;
        width: 10px;
        height: 10px;
        margin-right: 15px;
        margin-top: 5px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list i {
        transition: all 0.4s ease-in-out;
        margin-right: 115px;
    }
    .rotate {
        transform: rotate(180deg) translateY(-3px);
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one {
        display: none;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one li {
        margin-right: 30px;
        color: #054f80;
        font-family: "medium";
        font-size: 14px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one li a {
        color: #054f80;
        text-decoration: none;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one .nested-list-two .nav-small-list-two {
        display: none;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one .nested-list-one .nav-small-list-two li {
        margin-right: 30px;
    }
    .small-hidden-list .white-list .nav-small .nav-small-list .nested-list .nav-small-list-one .nested-list-two .nested-list-two-icon {
        margin-right: 100px;
    }
    .contact-small {
        font-family: "regular";
        font-size: 14px;
        color: #054f80;
        margin-right: 30px;
    }
    .contact-small a {
        font-family: "bold";
        color: #054f80;
        text-decoration: none;
    }
    /* hidden Search */
    .small-search {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
        display: none;
    }
    .small-search .close {
        position: fixed;
        top: 38px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        border-radius: 50%;
        opacity: 1;
        background-color: #fff;
    }
    .small-search .close i {
        color: #054f80;
        font-size: 24px;
    }
    .small-search .small-search-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .small-search .bootstrap-select .dropdown-toggle .filter-option {
        text-align: center;
        color: #666;
        font-family: "bold";
    }
    .small-search .small-search-content .search-bar-small {
        margin-top: 30px;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .small-search .small-search-content .search-bar-small input {
        width: 250px;
        height: 40px;
        border-radius: 35px;
        outline: none;
        border: none;
        text-indent: 20px;
    }
    .small-search .small-search-content .search-bar-small input::placeholder {
        text-indent: 20px;
        font-family: "medium";
    }
    .small-search .small-search-content .search-bar-small a {
        text-decoration: none;
        color: #054f80;
        position: absolute;
        top: 13px;
        left: 15px;
    }
    /* Hidden Footer Lists */
    footer .footer-top .colno1,
    footer .footer-top .colno2,
    footer .footer-top .colno3,
    footer .footer-top .colno4,
    footer .footer-top .colno5,
    footer .footer-top .colno6 {
        margin: 0 25px;
        text-align: center;
    }
    footer .footer-top .colno2 h4,
    footer .footer-top .colno3 h4,
    footer .footer-top .colno4 h4,
    footer .footer-top .colno5 h4 {
        display: flex;
        flex-direction: column;
    }
}


/*********************  Medium Screens ********************/

@media (min-width:992px)and (max-width:1199px) {
    .small-hidden-list {
        display: none;
    }
    .small-search {
        display: none;
    }
    .header-bottom .nav-list {
        font-size: 12px;
    }
    .header-bottom .nav-list li {
        margin-left: 7px;
    }
}


/*********************  Large Screens *********************/

@media (min-width:1200px) and (max-width:1399px) {
    .small-hidden-list {
        display: none;
    }
    .small-search {
        display: none;
    }
}


/********************* Extra Large Screens *********************/

@media (min-width:1400px) {
    .container {
        width: 1440px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .small-hidden-list {
        display: none;
    }
    .small-search {
        display: none;
    }
    .header-bottom .nav-list li {
        margin-left: 15px;
    }
    .header-top .search .search-bar button {
        width: 250px;
    }
    .header-top .search .search-bar input {
        width: 500px;
    }
    .header-top .search .click-search {
        left: 25px;
    }
    .header-bottom .toggle-btn i {
        margin-left: 40px;
    }
    .header-bottom .toggle-btn p:after {
        margin-right: 40px;
    }
    .header-bottom .big-list li .span1::after {
        margin-right: 97px;
    }
    .header-bottom .nav-list {
        font-size: 17px;
    }
    .header-bottom .nav-list li {
        margin-left: 18px;
    }
    .main-slider .owl-carousel:hover img {
        transform: none;
    }
    .gallary a:hover img {
        transform: scale(1.02);
    }
    .delivery .delivery-link:hover img {
        transform: scale(1.02);
    }
}